/*Colour Pallet
background #1E1E2E
text #CDD6F4
less important text #A6ADC8
url text #F5C2E7
contrasted text #F38BA8
*/



/* Basic Page Structure */
* {
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    margin:0px;
}


body {
    height: 100vh;
    width: 100%;
    background: #1E1E2E;

    line-height:1.5;
    font-family: 'Atkinson Hyperlegible', Arial,  sans-serif;

}


#wrapper {
width: 960px;
height: 100vh;
margin-left: auto;
margin-right: auto;

}

/* Basic Page Structure END */





/* Header Elements */
header .headerContainer {
    width: 960px;
    height: 100px;
    margin: auto;
    background: #1E1E2E;

    /* border: 3px solid red;  */ 
    justify-content: space-between;


    display: flex;
    align-items: center;
    
}

navbar {
    apply white-space: nowrap;
    margin-right: 6%;
}

ul .navbar{
    list-style: none;
    font-size: 14px;
}


#thisPage {
    font-size: 1.5rem;
    opacity: 1;
}


footer {


    position: fixed;
    bottom: 0;
    display: flex;
    width: 960px;

    height: 4%;
    min-height: 30px;

    align-items: center;
    
    justify-content: space-evenly; 
    /*background: blue; /*/
}

/* Header Elements     END*/

/* Font Settings */

h1{
    font-size: 3.15rem;
    color: #F38BA8;
    margin-left: 6%;
}

h2 {
    font-size: 3rem;
    color: #CDD6F4;
}

h3{
    font-size: 18px;
}

h4 {
    font-size: 2rem;
    color: #CDD6F4;
}

.separator {
    color: #CDD6F4;
    font-size: 1.35rem;

}s


/* Body */

article {
    display: block;
}





#rightColumn1 {
    display: grid;
    float: right;
    width: 42%;
    height: 385px;
    }

#leftColumn1 {
    display: grid;
    float: left;
    width: 58%;
    height:385px;
}


#leftColumn2 {
    display: grid;
    float: left;
    width: 42%;
    height: 385px;
}

#rightColumn2 {
    display: grid;
    float: right;
    width: 58%;
    height:385px;
    }





div #helloMessage {
    display: block;
    margin: auto;

    bottom: 0;
}


div #largeMessage {
    width: 960px;
    height: 95%;
    /*background: red;/*/



}








figure {
    margin: auto;

}







/*Idk divider for misc items*/



a {
    text-decoration: none;
    color: #F5C2E7;
    opacity: .75;
}

a:hover {
    
    opacity: 1;

}

p {
   color: #A6ADC8; 
}


::selection {
  color: #11111B;
  background: #f5c2e7;
}