/*Colour Pallet
background #1E1E2E
text #CDD6F4
less important text #A6ADC8
url text #F5C2E7
contrasted text #F38BA8
*/



header{
    min-height: 10px;
    max-height: 20px;

    padding: 100px;
    width: 100vw;
    height: 10vh;
}




.logo h1{
    font-size: 3rem;

}



#nametag{
    width: 2vw;
    font-size: 1rem;
    flaot: left;

}



ul.navbar { 
    padding: 0 20px 0 20px;
    list-style: none;
    position: relative;
 }

.navlinks{
    flaot: right;
    width: 30vw;
    left: 100%;


}

nav{
    width: 100vw;
    position: absolute;



}


body {
    background: linear-gradient(#1e1e2e 30%, #9198e5);
    font-family: Verdana, Geneva, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 20px;

}

article {
    width: 60vw;
    height: 60vh;
    padding: 20px;

}

header {
    background-color: #1e1e2e;
    width: 100%;
    padding: 0;
    margin:0;
}








/*Idk divider for misc items*/



a {
    text-decoration: none;
}


::selection {
  color: #11111B;
  background: #f5c2e7;
}